<nav class="navbar navbar-light bg-light fixed-top shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="/">MIDA PNG</a>
      <a class="navbar-brand" href="/">Home</a>
      <a class="navbar-brand" href="/about">About</a>
      <a class="navbar-brand" href="/projects">Projects</a>
      <a class="navbar-brand" href="/blogs">Blogs</a>
      <a class="navbar-brand" href="/news">News & Events</a>
    </div>
  </nav>