<!DOCTYPE html>
<html>
<head>
  <title>
    <%=title %>
  </title>
<%-include('../partials/head');%>
</head>

<body>
  <%-include('../partials/navbar');%>
    <section class="features-icons bg-light text-center" data-aos-offset="200" data-aos-delay="50"
      data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false"
      data-aos-anchor-placement="top-center">
      <div class="container" style="height:100vh;">
                <h1 class="text-muted text-uppercas">
                     NOT FOUND
                </h1>
                <hr>
                <p class="text-muted">
                    This page is not found
                </p>
        </div>
      </div>
    </section>
    <!-- Footer-->
    <%-include('../partials/footer')%>