<section class="features-icons bg-light text-center" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000"
  data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center">
  <div class="container" style="height:100vh;">
    <h1 class="text-muted text-uppercase">
      Comming Soon
    </h1>
    <hr>
    <p class="text-muted">
      The contents of this page are yet to be published
    </p>
  </div>
  </div>
</section>