<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title %>
    </title>
    <%-include('../partials/head');%>
</head>

<body>
    <%-include('../partials/navbar');%>
        <section class="features-icons bg-light text-center" data-aos="fade-up" data-aos-offset="200"
            data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true"
            data-aos-once="false" data-aos-anchor-placement="top-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4" data-aos="zoom-in">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <!-- -->
                            <h3><a class="navbar-brand text-primary" href="/about/background">Background Information</a></h3>
                            <p class="lead mb-0 text-muted">This section will provide overview of the background
                                information about Makini Intergrated Development Agenciy</p>
                        </div>
                    </div>
                    <div class="col-lg-4" data-aos="zoom-in">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <!-- vission-mission -->
                            <h3><a class="navbar-brand text-primary" href="/about/vission-mission">Our Vission and Mission</a></h3>
                            <p class="lead mb-0 text-muted">This section will provide overview on the vission and
                                mission of Makinin Intergrated Development Agency</p>
                        </div>
                    </div>
                    <div class="col-lg-4" data-aos="zoom-in">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <h3><a class="navbar-brand text-primary" href="/about/roadmaps">Road Map</a> </h3>
                            <p class="lead mb-0 text-muted">This section will provide the visual and Descriptive road
                                map for Makini Intergrated development Agency </p>
                        </div>
                    </div>
                    <div class="col-lg-4" data-aos="zoom-in">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <h3><a class="navbar-brand text-primary" href="/about/partners">Our Supporting Partners</a></h3>
                            <p class="lead mb-0 text-muted">This section will Provide the overview and statistics of all
                                the supporting partners of Makini Intergratedd Development Agency</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <%-include('../partials/footer')%>